
/* comienza mi header */

.negro{
	background-color: black;
	font-weight: bold;
}
.fuente{
	font-family: verdana, courier ;
}
h1{
	color: white; 
}
.menu{
	text-decoration: none;
	display: inline-block;
	font-size: 30px ;
	

}